<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.d3.resepsionispdam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Buku Tamu"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden|adjustPan">
        <activity android:name="com.d3.resepsionispdam.PilihanActivity"></activity>
        <activity android:name="com.d3.resepsionispdam.EditActivity" />
        <activity android:name="com.d3.resepsionispdam.AboutUsActivity" />
        <activity android:name="com.d3.resepsionispdam.MasterLokasiActivity" />
        <activity android:name="com.d3.resepsionispdam.MasterKegiatanActivity" />
        <activity android:name="com.d3.resepsionispdam.AddActivity" />
        <activity android:name="com.d3.resepsionispdam.MainActivity" />
        <activity android:name="com.d3.resepsionispdam.RegisterActivity" />
        <activity android:name="com.d3.resepsionispdam.LoginActivity" />
        <activity android:name="com.d3.resepsionispdam.MasterPegawaiActivity" />
        <activity android:name="com.d3.resepsionispdam.AboutUsActivityBukuTamu" />
        <activity android:name="com.d3.resepsionispdam.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.d3.resepsionispdam.MainActivityBukuTamu" />
        <activity android:name="com.d3.resepsionispdam.EditActivityBukuTamu" />
        <activity android:name="com.d3.resepsionispdam.AddActivityBukuTamu" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>